# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Local DB & Media & Static
*.sqlite3
staticfiles/
backend/staticfiles/
