<!DOCTYPE html>
<html>
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>add-register</title>
</head>
<body>

<div class="main-content">
    
<h3 class="reminder-title">Your Reminders</h3>


<form method="POST">
{% csrf_token %}
<input type="text" name="medicine" placeholder="Medicine"><br>
<input type="date" name="date"><br>
<input type="time" name="time"><br>
<input type="text" name="note" placeholder="Note"><br>
<button type="submit">Save</button>
</form>



</div>

<footer class="main-footer">
© 2026 MediCare Reminder | Made by Ritik
</footer>



</body>

</html>
